\begin{center}
  {\huge \bf TITLE} \\
  \vspace{0.2cm}
  {\large AUTHOR} \\
  \vspace{0.2cm}
  {\large WHERE - WHEN} \\
  \vspace{0.2cm}
  {\bf abstract}
\end{center}
ABSTRACT
- {\bf Keywords: } TAGS
