title: evplan - An Event Planner Tool
# Use the filename (w/o extension) for the speakers
speakers: abel
# Tags separated by (one) whitespace, commas (,) or semicolon (;)
tags: tool python,test;template
abstract: When it comes to preparing a conference, seminar, or reunion, we
  always want to bring the best experience. However, the job is overwhelming.
  This tool tries to ease it.
