- name: EXAMPLE
- location: WHERE
#duration: a collection of dates. You can use range and singular days, such as
#date1 - for a singular date
#date1-date2 - for every date between the two (inclusive)
#date1,date2 - for these two days
#date1,date2-date3,date4 - For days date1, date4 and all days in the range date2
#to date3
# The format of each date is yyyy/mm/dd
- duration: 2015/12/31
